<!DOCTYPE html>
<html lang="en" ng-app="myapp">
	<head>
		<meta charset="UTF-8">
		<title>Guestbook with AngularJS and REST</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	</head>
	<body ng-controller="MainCtrl">
		<div style="margin:0px auto;width:600px;">
			<input ng-model="searchText" placeholder="Search..."/> <br />
			<form>
				<input type="text" ng-model="newInput.headline" placeholder="Headline" /> | 
				<input type="text" ng-model="newInput.message" placeholder="Message" /> | 
				<input type="text" ng-model="newInput.name" placeholder="Poster" /> |
				<input type="submit" ng-click="add(newInput)" value="Post" />
			</form> 
			<div>
				<div ng-repeat="input in guestinputs | filter:searchText" style="margin:2px 0px; background-color:lightgray;padding: 2px 5px 10px 5px;;">
					<div style="float:right;cursor: pointer;" ng-click="remove(input)">[X]</div>
					<h3>{{input.headline}} ({{input.id}})</h3>
					<p>{{input.message}}</p>
<!-- 					<i>Posted by <b>{{input.name}}</b></i> -->
						<guest data="input"></guest>
				</div>
			</div>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-resource.min.js"></script>
		<script src="guest.js"></script>
		<script src="MainScript.js"></script>

	</body>
</html>